* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

button {
    font-size: inherit;
}


body {
    background-color: black;
    color: white;
    font-family: "Roboto", sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    gap: 2em;
    width: 100vw;
    height: 100vh;
}

.sidebar-container {
    grid-row: 1 / 3;
    grid-column: 1/ 2;
    border-right: 1px solid rgb(172, 172, 172);
    padding: 1em;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 4em;
}

.logo {
    font-family: "Chewy", system-ui;
    letter-spacing: 5px;
}

.project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-header button {
    background-color: #AC274F;
    padding: 0.2em;
    border-radius: 20%;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    border: none;
    color: white;
}

.project-list {
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: center;
}

.project-card,
#project-form {
    cursor: pointer;
    font-size: 1.3em;
    padding: 1em;
    border-bottom: 1px solid rgb(255, 196, 0);
}
.active-project {
    background-color: rgb(255, 196, 0);
    
    color: black;
    font-weight: 700;
}

form {
    margin-bottom: 10em;
}

#project-form {
    text-align: center;
    display: none;
    flex-direction: column;
    gap: 0.7em;
    border: none;
    button {
        width: 50%;
        padding: 0.6em 0.4em;
        font-size: 1rem;
        background-color: #AC274F;
        color: white;
        border: none;
        cursor: pointer;
    }

    input {
        padding: 1em;
        font-size: 1rem;
        border: 2px solid rgb(172, 172, 172);
        border-radius: 5px;
        background-color: transparent;
        color: white;

    }

    input::placeholder {
       font-weight: 700;
       font-size: 1rem;
    }
}

#project-form.visible {
    display: flex;
}


.todo-container {
    display: flex;
    flex-direction: column;
    padding: 8em 1em 5em 1em;
    gap: 2em;
    position: relative;
}

.todo-container ul {
    display: grid;
    gap: 2em;
}

.todo-card {
    display: grid;
    grid-template-columns: 0.25fr 2fr 1fr 0.25fr;
    justify-content: start;
    align-items: center;
    background-color: #23242A;
    color: white;
    font-size: 1.4rem;
    padding: 0.5rem;


    button {
        font-size: 3rem;
        background-color: transparent;
        border: none;
        color: white;
        border: 5px solid red;
        border-radius: 50%;
        height: 2rem;
        width: 2rem;
        cursor: pointer;
    }

    button.complete {
        border-color: green;
        background-color: green;
    }

}

.todo-icons {
    display: flex;

    img {
        width: 2rem;
        height: 2rem;
        cursor: pointer;
    }
}

.add-todo-button {
    position: absolute;
    left: 1rem;
    bottom: 0;
    height: 4rem;
    width: 4rem;
    font-size: 2rem;
    background-color: #AC274F;
    color: white;
    border: none;
    font-weight: 700;
    cursor: pointer;
}


#todo-form {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    font-size: 1.2rem;
    margin-top: 1em;
    input,
    textarea {
        padding: 0.5em;
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    textarea {
        padding: 1em;
    }

    button {
        width: 50%;
        padding: 0.2em 0;

    }
}

/* The Modal (background) */
.modal {
  display: none; 
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  color: black;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    p {
        font-size: 1.3rem;
    }
}

.close {
  color: #aaaaaa;

  font-size: 2rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

